*{
    margin: 0;
    font-family: arial;
}
h1{
    font-family: cursive;
    font-size: 25px;
    font-weight: lighter;
    color: #ce7f47;
    text-align: center;
    border: 2px solid #ce7f47;
    background-color: #8b008b;
    border-radius: 10px;
}
body{
    background-color: #4b0082;
    color: white;
    font-size: 12px;
    background-image:url(/AtvJSON/goku.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-attachment: fixed;
    background-position: right top;
}
fieldset{
    border: solid gold;
}
input[type=text]{
    width: 800px;
    border-radius: 5px;
    border: solid;
}
input[type=tel]{
    width: 800px;
    border-radius: 5px;
    border: solid;
}
#planetas{
    width: 800px;
}
label{
    font-size: 10px;
}
#raças{
    width: 500px;
}
textarea{
    height: 100px;
    width: 800px;
}
button{
    width: 90px;
    border-radius: 10px;
    padding: 15px;
    background-color: #9932cc;
    color: white;
    cursor: pointer;
    border: solid #9932cc;
}
form{
    width: 1400px;
}